<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registrarse</a></li>
        <li><a href="/home">Home</a></li>
    </ul>
</nav>