<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Todo Inversiones</title>
    </head>
    <body>
        <% include partials/navigation.ejs %>
        <div class="Main">
            <h1>Bienvenido a de Todo Inversiones</h1>
        </div>
    </body>
</html>