<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos/as</title>
</head>
<body>
    <% include partials/navigation.ejs %>
    <h1>Bienvenido a Todo Inversiones</h1>
    <h2>Por favor logueese</h2>
</body>
</html>